<div class="container-fluid">
  <div>
    <!-- <button mat-raised-button color="primary" class="btn-right" type="button" [routerLink]="['/recepi-list']">Home</button> -->
    <button *ngIf="!isAdd" mat-raised-button color="primary" class="btn-right" [routerLink]="['/add-update-recepi', 0]" >Add Recipe</button>
  </div>
  <div class="container">
    <mat-grid-list cols="3" rowHeight="350px">
      <mat-grid-tile *ngFor="let data of dataSource">
        <div class="container">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{data.recepiName}}</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/1.jpeg" alt="Photo of a Shiba Inu" width="100px;">
            <mat-card-content>
              <p>
                {{data.recepiDesc}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/add-update-recepi', data.recepiId]">Edit</button>
              <button mat-button>
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon" (click)="DeleteRecepi(data.recepiId)">delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>